{% extends 'base.html' %}

{% load static %}
{% block content %}
<style>
h1.user-announce, h4.user-announce {
    color: whitesmoke;
}
</style>

<div class="content">
  <h1 class="user-announce">Delete Tour</h1>

  <h4 class="user-announce">Are you sure you want to delete the tour {{ object.name }}?</h4>

  <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Yes - Delete!" class="btn">
    <button class="btn"> <a href="{% url 'tour_detail' object.id %}">Cancel - View Tour</a></button>
    <button class="btn"> <a href="{% url 'profile' %}">Back to Profile</a></button>
  </form>
</div>
{% endblock %}